{% extends 'base.html.twig' %}

{% block title %}
    Usuários
{% endblock %}

{% block body %}

<div class="container mt-4">

    <h1>
        Gerenciar Usuários
    </h1>

    <table class="table table-hover shadow">

        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Perfil</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

        {% for usuario in usuarios %}

            <tr>

                <td>
                    {{ usuario.nome }}
                </td>

                <td>
                    {{ usuario.email }}
                </td>

                <td>

                    {% if usuario.ativo %}

                        <span class="badge bg-success">
                            Ativo
                        </span>

                    {% else %}

                        <span class="badge bg-danger">
                            Inativo
                        </span>

                    {% endif %}

                </td>

                <td>
                    {{ usuario.perfil }}
                </td>

                <td>

                    {% if not usuario.ativo %}

                        <a 
                        href="{{ path('app_usuario_aprovar', {
                            id: usuario.id
                        }) }}"
                        class="btn btn-success btn-sm">

                            Aprovar

                        </a>

                    {% else %}

                        <span class="badge bg-success">
                            Aprovado
                        </span>

                    {% endif %}

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}